/*Importar las fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Mandali&family=Ubuntu:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;

}




body {
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
    /*Esto se asegura de que si hay objetos grandes, no se desborden en el eje x*/
    max-width: 1500px;
    background-color: #edf2fb;
    background-image: linear-gradient(to right, #edf2fb 0%, #b6d4fe 35%, #89c0ff 50%, #4dabf7 65%, #3498db 100%);
}

/*Aqui voy a cambiar el estilo de los links a del nav*/
.estiloa li a {
    font-size: 1.2em !important;
    /*Le coloqué important porque bootstrap tiene prioridad*/
    font-weight: bold;
    /*negrita*/
}

.estiloa form button {
    font-size: 1.2em !important;
    /*Le coloqué important porque bootstrap tiene prioridad*/
    font-weight: bold;
    /*negrita*/
}

/*Aqui voy a colocar el css del logo de la navbar*/
.logo-small {
    max-width: 40%;
    height: auto;
    min-width: 35%;
}

/*Aqui se va a adecuar el tamaño de las imagenes del slider*/
.carousel-inner {
    width: 100%;
    height: 15rem;
    max-width: 900px;
}

#innerslide {
    width: 100%;
    height: 15rem;
}

.carousel-inner div img {
    width: 100%;
    max-height: 15rem;
}

/*Hasta aca va lo del slider del index*/

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    padding: 0, 5rem;
}

.contenedormain {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2rem;
    align-items: center;
}

/*Contenedores de porque meditar index*/
.contenedormain2 {
    display: flex;
    width: 100%;
    margin: 2rem;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.contenedorhijo1 {
    display: flex;
    flex-direction: column;
    margin: 50px;
    justify-content: center;
    
}
.contenedorhijo1 span {
    color: rgb(74, 138, 233);

}

.contenedorhijo1 img {
    width: 100%;
    height: auto;
    max-height: 1700px;
}


.contenedorhijo1 img.banneryoga{
    width: 100%;
    height: auto;
    max-height: 2200px;
}

/*Colocaré los contenedores grid para la pagina ropa*/

.contenedormaingrid{
    display: grid;
    grid-template-columns: 2fr 3fr; /*el primer hijo ocupará 33% y el segundo un 66%*/
    width: 100%;
    max-height: 100%;
    height: 50rem;
}

.contenedormaingridhijo1{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(202, 225, 247);
    justify-content: center;
}
.contenedormaingridhijo1 h1{
align-self: center;
}


.contenedormaingridhijo2{
}


/*Clase contenedor que da el borde inferior azul*/
.contenedormainbordeinferior {
    padding-bottom: 5rem;
    border-bottom: 50px solid rgb(27, 137, 240);

}

/*Desde aqui se modifica el tamaño de las letras H1 h2 p*/

div h1 {
    font-size: 5vw !important;
    text-align: center;
}

.contenedormain span {
    color: rgb(7, 90, 214);
}

div p {
    font-size: 2.4vw !important;
    text-align: center;
}

footer div a {
    font-size: 2.5vw !important;
    /*Le coloqué important porque bootstrap tiene prioridad*/
    font-weight: bold;
    /*negrita*/
    color: white !important;
}

div h2 {
    font-size: 2.8vw ;
    text-align: center;
}

/*Aquí cuando se alcanza el tamaño de 900 el tamaño del main es minimo 650px*/
@media (min-width: 992px) {
    main {
        min-height: 650px;
    }
    .logo-small {
        max-width: 20%;
        height: auto;
        min-width: 15%;
    }
    .contenedormain2 {
        display: flex;
        flex-wrap: nowrap;
    }
    footer div a {
        font-size: 1.5vw;
    }
}